.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  width: 780px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /* animation: App-logo-spin infinite 20s linear; */
  }
}
.header{
  box-sizing: border-box;
  border-bottom: 1px solid rgb(117, 115, 115);
  height: 42px;
  justify-content: space-between;
  left: 0;
  padding: 0.5rem;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  text-align: right;
}

.content {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
  width: 820px;
  margin: 0 auto;
}

.App-link {
  color: #61dafb;
}
.row{
  width: 100%;
}
.leftSide{
  position: absolute;
  right: 100%;
  transform: translateY(-93px);
}
.btn{
  position: absolute;
  top: 10px;
  right: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
